.cards-container {
  position: relative;
  margin: 10px 20px;

  .arrow-btn {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 30px;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 2px solid var(--theme-color-lightest);
    background-color: hsl(
      calc(var(--theme-color-h) - 2),
      calc(var(--theme-color-s) + 12%),
      calc(var(--theme-color-l) + 60%),
      0.5
    );
    box-shadow: 0px 3px 6px var(--box-shadow);
    opacity: 1;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      border-style: solid;
      border-color: #32588d;
      border-width: 0px 2px 2px 0px;
      transform: rotate(-135deg);
      top: 8px;
      left: 20px;
      transition: border-width 150ms ease-in-out;
    }

    &.disabled {
      opacity: 0.9;
      cursor: default;
    }

    &:not(.disabled):hover {
      box-shadow: 0px 2px 4px #00000029;

      &:after {
        border-bottom-width: 3px;
        border-right-width: 3px;
      }
    }

    &.left-btn {
      left: -30px;
      transform: rotate(-90deg) translateX(15px);
    }

    &.right-btn {
      right: -30px;
      transform: rotate(90deg) translateX(-15px);
    }
  }

  .cards-wrapper {
    display: flex;
    margin: 10px 20px;
    padding: 20px 0;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .card {
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      min-height: 200px;
      align-items: center;
      color: #5b5b5b;
      background: #ffffff;
      box-shadow: 0 1px 4px var(--box-shadow);
      border-radius: 4px;
      cursor: pointer;
      scroll-snap-align: start;
      scroll-snap-stop: normal;

      &:hover {
        background-color: #f3f7fd;
      }

      &.active {
        background: #32588d;
        color: #ffffff;
      }

      .card-label {
        display: flex;
        align-items: center;
        flex: 1;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 5px;
      }
    }
  }
}
