<div class="cards-container">
  <button
    class="arrow-btn left-btn"
    id="leftBtnId"
    (click)="scrollLeft($event)"
  ></button>
  <div class="cards-wrapper" id="cardWrapperId">
    <div class="card active">
      <div class="card-label">All</div>
    </div>
    <div class="card">
      <div class="card-label">Draft</div>
    </div>
    <div class="card">
      <div class="card-label">In Progress</div>
    </div>
    <div class="card">
      <div class="card-label">In Progress - Validation Pending</div>
    </div>
    <div class="card">
      <div class="card-label">In Progress - Validated</div>
    </div>
    <div class="card">
      <div class="card-label">Review Pending</div>
    </div>
    <div class="card">
      <div class="card-label">Review Done</div>
    </div>
    <div class="card">
      <div class="card-label">Closed</div>
    </div>
    <div class="card">
      <div class="card-label">Rejected</div>
    </div>
  </div>
  <button
    class="arrow-btn right-btn"
    id="rightBtnId"
    (click)="scrollRight($event)"
  ></button>
</div>
