.cards-container {
  position: relative;
  margin: 10px auto;
  width: clamp(250px, calc(90vw - 20px), 648px);

  .arrow-btn {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      border-style: solid;
      border-color: var(--theme-color-aerolighter);
      border-width: 0px 4px 4px 0px;
      transform: rotate(-135deg);
      top: 8px;
      left: 20px;
      transition: border-width 150ms ease-in-out;
    }

    &:disabled {
      opacity: 0.9;
      cursor: default;
      pointer-events: none;

      &:after {
        border-color: var(--disabled);
      }
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus {
      box-shadow: 0px -4px 4px var(--box-shadow);
      outline: none;

      &:after {
        border-bottom-width: 3px;
        border-right-width: 3px;
      }
    }

    &.left-btn {
      left: -30px;
      transform: rotate(-90deg) translateX(15px);
    }

    &.right-btn {
      right: -30px;
      transform: rotate(90deg) translateX(-15px);
    }
  }

  .cards-wrapper {
    display: flex;
    margin: 10px 20px;
    padding: 20px 0;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .card {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      min-height: 300px;
      cursor: pointer;
      scroll-snap-align: start;
      scroll-snap-stop: normal;

      .card-header {
        position: relative;
        height: 40px;
        width: 100%;

        img {
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translate(-50%, -50%);
          width: 20%;
          max-width: 60px;
          z-index: 1;
        }
      }

      .card-details {
        flex: 1;
        background-color: var(--theme-color-aerolighter);
      }

      .card-footer {
        height: 40px;
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        & {
        }
      }
    }
  }
}
