<div class="cards-container">
  <button
    class="arrow-btn left-btn"
    id="leftBtnId"
    (click)="scrollLeft($event)"
    [disabled]="isLeftDisabled()"
  ></button>
  <div class="cards-wrapper" id="cardWrapperId" (scroll)="(false)">
    <div *ngFor="let card of cardsData" class="card">
      <div class="card-header base">
        <img alt="angular" [attr.src]="card.avatarUrl" />
        <ng-container *ngIf="!card.suppressMenu">
          <demo-button [config]="card.menuConfig"> </demo-button>
        </ng-container>
      </div>
      <div class="card-details">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
      </div>
      <div class="card-footer aerolighter" *ngIf="card.handleAction">
        <demo-button
          [config]="card.handleAction"
          (callback)="handleCardClick($event, card)"
        ></demo-button>
      </div>
    </div>
  </div>
  <button
    class="arrow-btn right-btn"
    id="rightBtnId"
    (click)="scrollRight($event)"
    [disabled]="isRightDisabled()"
  ></button>
</div>
