<div class="cards-container">
  <button
    class="arrow-btn left-btn"
    id="leftBtnId"
    (click)="scrollLeft($event)"
    [disabled]="isLeftDisabled()"
  ></button>
  <div class="cards-wrapper" id="cardWrapperId" (scroll)="(false)">
    <div *ngFor="let card of cardsData" class="card">
      <div class="card-header base">
        <img alt="angular" [attr.src]="card.avatarUrl" />
        <demo-button
          [config]="{
            title: '',
            isSmall: true,
            icon: {
              class: 'fa fa-ellipsis-h',
              alignedRight: false
            },
            styles: {
              position: 'absolute',
              right: '10px',
              top: '50%',
              transform: 'translateY(-50%)'
            }
          }"
        ></demo-button>
      </div>
      <div class="card-details">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
      </div>
      <div class="card-footer aerolighter">
        <demo-button
          [config]="{
            title: 'View Details',
            secondary: true,
            isSmall: true,
            styles: {
              width: 'calc(100% - 4px)',
              margin: '2px',
              border: 'none',
              'border-top': '1px solid var(--theme-color)',
              'border-radius': 0,
              height: '38px'
            }
          }"
        ></demo-button>
      </div>
    </div>
  </div>
  <button
    class="arrow-btn right-btn"
    id="rightBtnId"
    (click)="scrollRight($event)"
    [disabled]="isRightDisabled()"
  ></button>
</div>
