.property-panel-container {
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 2px #e1e1e1;

  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h1 {
      margin: 0;
      font-size: 24px;
      line-height: 24px;
    }
  }

  ul {
    list-style: none;
    padding: 0 10px;
    line-height: 18px;
    margin-top: 0;

    &.object-view {
      ul:before,
      &:before {
        content: attr(data-name) '{';
      }

      ul[data-type='array'],
      &[data-type='array'] {
        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }

      ul:after,
      &:after {
        content: '}';
      }
    }

    &.property-view {
    }

    &[data-name] {
      border: 2px solid;
    }

    &:before,
    &:after {
      display: inline-block;
      font-weight: 600;
      transform: translateX(-8px);
    }

    li {
      padding-bottom: 8px;
      font-size: 14px;

      label {
        padding-right: 5px;
        font-weight: 600;
      }

      input {
        padding: 2px;
      }
    }
  }

  button {
    height: 36px;
    padding: 8px 16px;
    margin-right: 10px;
    white-space: nowrap;
  }

  pre {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
}
