.property-panel-container {
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 2px #e1e1e1;

  h1 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0 10px;
    line-height: 18px;
    margin-top: 0;

    &[data-name] {
      border: 2px solid;
    }

    &:before,
    &:after {
      display: inline-block;
      font-weight: 600;
      transform: translateX(-8px);
    }

    &:before {
      content: attr(data-name) '{';
    }

    &:after {
      content: '}';
    }

    li {
      padding-bottom: 8px;
      font-size: 14px;

      label {
        padding-right: 5px;
        font-weight: 600;
      }

      input {
        padding: 2px;
      }
    }
  }

  button {
    height: 36px;
    padding: 8px 16px;
    margin-right: 10px;
  }

  pre {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    line-height: 20px;
  }
}
