<div class="panel" [class.collapsed]="isCollapsed">
  <div class="header">
    <h2>Components</h2>
    <button class="expand-button" (click)="toggleCollapse()">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22ZM12,3a9,9,0,1,0,9,9A9,9,0,0,0,12,3Zm2.75,11-2.01,2-0.75-.75,2-1.99L14.25,13H7V12h7.24L12,9.75,12.74,9l0.25,0.25,2.98,2.99-0.24.25,0.28,0.27Z"
        ></path>
      </svg>
    </button>
  </div>
  <ul>
    <li *ngFor="let component of components">
      <button
        class="component-button"
        [class.selected]="selectedComponent === component.name"
        (click)="select(component.name)"
      >
        <div class="icon-container">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path attr.d="{{ component.icon }}" />
          </svg>
        </div>
        <span>{{ component.name }}</span>
      </button>
    </li>
  </ul>
</div>
