.panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  width: 200px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s ease;

  &.collapsed {
    width: 40px;

    .header {
      h2 {
        display: none;
      }

      button.expand-button {
        svg {
          transform: rotate(0deg);
        }
      }
    }

    ul {
      display: none;
    }
  }

  .header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #dddddd;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: #32588d;
    }

    button.expand-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      svg {
        fill: #32588d;
        height: 24px;
        width: 24px;
        transform: rotate(180deg);
        transition: all 0.2s ease;

        path {
          transition: all 0.2s ease;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    overflow: auto;

    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: #5b5b5b;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #5b5b5b;
    }

    li {
      list-style: none;
      margin: 5px;

      button.component-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 84px;
        height: 95px;
        line-height: 14px;
        padding: 0;
        border: none;
        border-radius: 8px;
        background: none;
        color: #5b5b5b;
        cursor: pointer;
        transition: all 0.2s ease;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px 1px;

        &:focus {
          outline: 2px solid #8e45fc;
          outline-offset: 2px;
        }

        &.selected {
          background-color: #32588d;
          outline: 1px solid #32588d;
          outline-offset: 2px;
          color: #ffffff;
          transform: scale(1.02);

          .icon-container {
            border-color: #ffffff;

            svg {
              fill: #ffffff;
            }
          }
        }

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 2px;
          transform: scale(1.04);
        }

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60%;
          width: 100%;
          border-bottom: 1px solid #e0e0e0;

          svg {
            fill: #5b5b5b;
            height: 100%;
            width: 24px;
          }
        }

        span {
          font-size: 12px;
          font-weight: 500;
          padding: 5px;
        }
      }
    }
  }
}
