<div class="panel" [class.collapsed]="isCollapsed">
  <div class="header">
    <h2>Components</h2>
    <button class="expand-button" (click)="toggleCollapse()">
      <span *ngIf="isCollapsed">Expand</span>
      <span *ngIf="!isCollapsed">Collapse</span>
      <svg viewBox="0 0 24 24">
        <path *ngIf="isCollapsed" d="M7 10l5 5 5-5z"></path>
        <path *ngIf="!isCollapsed" d="M10 7l5 5-5 5z"></path>
      </svg>
    </button>
  </div>
  <ul>
    <li *ngFor="let component of components">
      <button
        class="component-button"
        [class.selected]="selectedComponent === component"
        (click)="selectComponent(component)"
      >
        <div class="icon-container">
          <svg viewBox="0 0 24 24">
            <path [attr.d]="component.icon"></path>
          </svg>
        </div>
        <span>{{ component.name }}</span>
      </button>
    </li>
  </ul>
</div>
