<div class="landing-page">
  <div class="image-container alpha-image">
    <div class="caption">
      <span class="border">GOVIND CHAUHAN</span>
    </div>
  </div>

  <div class="content about">
    <h3>About Me</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod
      neque neque, consectetur pulvinar justo accumsan id. Nam venenatis cursus
      turpis eget hendrerit. Ut luctus sem non erat dictum iaculis. Donec quis
      augue ac ipsum tincidunt gravida. Interdum et malesuada fames ac ante
      ipsum primis in faucibus. Morbi sed sem aliquet, egestas enim sed,
      sagittis nisi. Etiam in ipsum sapien. Aliquam erat volutpat. Donec
      suscipit quam eget neque convallis euismod.
    </p>
  </div>

  <div class="image-container beta-image">
    <div class="caption">
      <span class="border">LESS HEIGHT</span>
    </div>
  </div>

  <div class="content">
    <p>
      Scroll up and down to really get the feeling of how Parallax Scrolling
      works.
    </p>
  </div>

  <div class="image-container gamma-image">
    <div class="caption">
      <span class="border">SCROLL UP</span>
      <carousal></carousal>
    </div>
  </div>

  <div class="content">
    <p>
      Scroll up and down to really get the feeling of how Parallax Scrolling
      works.
    </p>
  </div>

  <div class="image-container alpha-image">
    <div class="caption">
      <span class="border">COOL!</span>
    </div>
  </div>
</div>
