<div class="landing-page">
  <div class="image-container alpha-image">
    <div class="caption">
      <i class="demo-logo">
        <svg class="black-fire" viewBox="0 -20 120 240">
          <defs>
            <linearGradient
              id="fire-gradient-basic"
              x1="0%"
              y1="0%"
              x2="0%"
              y2="100%"
            >
              <stop stop-color="var(--theme-color-darkest)" offset="0.5" />
              <stop stop-color="var(--theme-color)" offset="1" />
            </linearGradient>
            <linearGradient
              id="fire-gradient-red"
              x1="0%"
              y1="0%"
              x2="0%"
              y2="100%"
            >
              <stop stop-color="#ffb200" offset="0" />
              <stop stop-color="#dc0000" offset="0.9" />
            </linearGradient>
            <linearGradient
              id="fire-gradient-yellow"
              x1="0%"
              y1="0%"
              x2="0%"
              y2="100%"
            >
              <stop stop-color="#ffb200" offset="0.5" />
              <stop stop-color="#dc0000" offset="1" />
            </linearGradient>
          </defs>

          <g stroke-width="0.5" stroke-opacity="0.5">
            <path
              class="spark"
              fill="#ffd700"
              stroke="#ffff00"
              d="M13 90c-8,-10 -6,-14 -5,-21 3,-3 0,-7 -2,-19 8,11 18,12 7,40l0 0z"
            ></path>
            <path
              class="spark"
              fill="#ffd700"
              stroke="#ffff00"
              d="M36 45c8,-10 6,-14 5,-21 -3,-3 0,-7 2,-19 -8,11 -18,12 -7,40l0 0z"
            ></path>
            <path
              class="spark"
              fill="#ffd700"
              stroke="#ffff00"
              d="M63 48c8,-10 6,-14 5,-21 -3,-3 0,-7 2,-19 -8,11 -18,12 -7,40l0 0z"
            ></path>
            <path
              class="spark"
              fill="#ffd700"
              stroke="#ffff00"
              d="M83 80c-8,-10 -6,-14 -5,-21 3,-3 0,-7 -2,-19 8,11 18,12 7,40l0 0z"
            ></path>
            <path
              class="spark"
              fill="#ffd700"
              stroke="#ffff00"
              d="M94 126c8,-10 6,-14 5,-21 -3,-3 0,-7 2,-19 -8,11 -18,12 -7,40l0 0z"
            ></path>
            <path
              class="flame"
              fill="url(#fire-gradient-basic)"
              stroke="#ffff00"
              d="M46 50c1,13 -15,26 -13,44 0,11 -4,-17 -2,-26 -1,-8 -3,-16 -9,-21 8,42 -28,33 -5,88 -4,-2 -8,-4 -12,-7 4,13 9,21 15,28 9,9 21,13 39,16 13,4 28,2 38,-6 10,-7 15,-19 12,-34 -3,6 -7,10 -13,12 3,-17 -14,-25 -7,-42 10,-20 3,-45 0,-32 -4,12 -11,21 -20,29 22,-70 -10,-53 -11,-88 -9,12 -14,23 -12,39z"
            ></path>
            <path
              class="flame"
              fill="url(#fire-gradient-yellow)"
              stroke="#ffff00"
              d="M51 168c-55,-58 30,-62 -11,-121 11,39 -13,64 -21,76 -5,-15 -1,-21 5,-39 -38,42 -9,63 27,84l0 0z"
            ></path>
            <path
              class="flame"
              fill="url(#fire-gradient-yellow)"
              stroke-width="0.5"
              stroke="#ffff00"
              d="M55 168c-1,-14 -3,-25 15,-38 31,-22 16,-34 -3,-57 5,22 -4,40 -12,52 -5,8 -23,23 0,43z"
            ></path>
            <path
              class="flame"
              fill="url(#fire-gradient-red)"
              stroke="#ffff00"
              d="M63 172c9,-5 11,-20 12,-37 2,-17 7,-33 34,-36 -11,9 -20,20 -16,41 -1,31 -24,29 -30,32l0 0z"
            ></path>
          </g>
        </svg>
      </i>
      <h1 class="border">GOVIND CHAUHAN</h1>
    </div>
  </div>

  <div class="content about">
    <h2>About Me</h2>
    <h3>
      Hi there! I'm an IT Professional with 3+ years of experience in web
      development based in Mumbai.
    </h3>
    <p>
      Develop and maintain web components, plugins & libraries using Agile/SCRUM
      methodologies. Create and apply UI requirements utilizing Angular,
      JavaScript, HTML, and CSS. Collaborate with designers, and development
      teams to provide support and knowledge. Enhance UI to make it
      <a
        href="https://www.w3.org/WAI/standards-guidelines/wcag/"
        target="_blank"
        >WCAG compliance
      </a>
      and responsive from 50% to 90%.
    </p>
    <p>
      When I'm not busy, you can find me obsessing over mobile games, fitness,
      or working on one of my many hobbies like playing the Volleyball or Chess!
      :)
    </p>
  </div>

  <div class="image-container beta-image">
    <div class="caption">
      <h2 class="border">What I do</h2>
      <div class="what-i-do">
        <i class="fa fa-mobile" name="Responsive Web Design"></i>
        <i class="fa fa-edit" name="UI Design"></i>
        <i class="fa fa-code" name="Development"></i>
        <i class="fa fa-codepen" name="Codepen"></i>
        <i class="fa fa-low-vision" name="WCAG"></i>
      </div>
    </div>
  </div>

  <div class="content">
    <p>
      Scroll up and down to really get the feeling of how Parallax Scrolling
      works.
    </p>
  </div>

  <div class="image-container gamma-image">
    <div class="caption">
      <carousal></carousal>
    </div>
  </div>

  <div class="content">
    <p>
      Scroll up and down to really get the feeling of how Parallax Scrolling
      works.
    </p>
  </div>

  <div class="image-container alpha-image">
    <div class="caption">
      <span class="border">COOL!</span>
    </div>
  </div>
</div>
