<form (ngSubmit)="onFormSubmit(form.value)" #form="ngForm">
  <ul>
    <ng-container *ngFor="let key of objectKeys(data)">
      <li>
        <label [for]="key">{{ key }}</label>
        <ng-container [ngSwitch]="getTypeof(data[key])">
          <ng-container *ngSwitchCase="'string'">
            <input
              type="text"
              [name]="key"
              [id]="key"
              [(ngModel)]="data[key]"
              required
            />
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            <input
              type="number"
              [name]="key"
              [id]="key"
              [(ngModel)]="data[key]"
              required
            />
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            <input
              type="checkbox"
              [name]="key"
              [id]="key"
              [(ngModel)]="data[key]"
            />
          </ng-container>
          <ng-container *ngSwitchCase="'object'">
            <ng-container *ngIf="isArray(data[key])">
              <label [for]="key">Choose {{ key }}</label>
              <select [name]="key" [id]="key" [(ngModel)]="data[key]">
                <option *ngFor="let item of data[key]" [value]="item">
                  {{ item.name }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngIf="!isArray(data[key])">
              <app-property-panel
                [data]="data[key]"
                (formSubmit)="onFormSubmit($event)"
              ></app-property-panel>
            </ng-container>
          </ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>
  <button type="submit">Submit</button>
</form>
