<div class="resume-wrapper aerolighter">
  <div class="section-container left">
    <section class="profile base">
      <h1 class="name">Govind Chauhan</h1>
      <h2 class="role">Software Engineer</h2>
      <img
        src="https://images.pexels.com/photos/10432243/pexels-photo-10432243.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="profile image"
      />
    </section>
    <section class="objective">
      <h3>Career objective</h3>
      <p>
        To work with a reputed organization where I can contribute my skills and
        ensure my growth through the organization's growth.
      </p>
    </section>
    <section class="skills">
      <h3>Skills</h3>
      <h4 class="skill" style="--level: 85%">CSS3</h4>
      <h4 class="skill" style="--level: 80%">HTML5</h4>
      <h4 class="skill" style="--level: 70%">Angular</h4>
      <h4 class="skill" style="--level: 65%">JavaScript/TypeScript</h4>
      <h4 class="skill" style="--level: 30%">Python/Django & Others</h4>
    </section>
    <section class="contacts">
      <h3>Contacts</h3>
      <p class="email">
        <i> gregariousgovind@gmail.com </i>
      </p>
      <p class="contact-number">
        <i>+91-7408648998</i>
      </p>
    </section>
  </div>
  <div class="section-container right">
    <section class="education">
      <h3>EDUCATION</h3>
      <h4>
        <div class="degree">
          <span class="level">BACHELOR OF TECHNOLOGY</span>
          <span class="passing-year">2019</span>
        </div>
        <div class="university">
          Dr. A. P. J. Abdul Kalam Technical University
        </div>
      </h4>
      <h4>
        <div class="degree">
          <span class="level">HSC/Intermediate</span>
          <span class="passing-year">2015</span>
        </div>
        <div class="university">Chatrapati Sivaji Inter College</div>
      </h4>
    </section>
    <section class="languages">
      <h3>LANGUAGES</h3>
      <div class="language-container">
        <i class="language" name="Hindi" style="--level: 90%"></i>
        <i class="language" name="English" style="--level: 70%"></i>
      </div>
    </section>
    <section class="experience">
      <h3>EXPERIENCE</h3>
      <h4>
        <div class="degree">
          <span class="level">Software trainee</span>
          <span class="passing-year">2019</span>
        </div>
        <div class="university">
          <ul>
            <li>
              Worked on different frameworks and libraries like Django, Django
              Rest, React, Angular.
            </li>
            <li>
              Contributed to an open source codebase on freeCodeCamp utilizing
              Django, HTML, and CSS.
            </li>
          </ul>
        </div>
      </h4>
      <h4>
        <div class="degree">
          <span class="level">Software Engineer</span>
          <span class="passing-year">2019 / Present</span>
        </div>
        <div class="university">
          <ul>
            <li>
              Develop and maintain web components, plugins & libraries using
              Agile/SCRUM methodologies.
            </li>
            <li>
              Create and apply UI requirements utilizing Angular, JavaScript,
              HTML, and CSS.
            </li>
            <li>
              Collaborate with designers, and development teams to provide
              support and knowledge.
            </li>
            <li>
              Enhance UI to make it WCAG compliance and responsive from 50% to
              90%.
            </li>
          </ul>
        </div>
      </h4>
    </section>
  </div>
</div>
<footer class="resume-footer">
  <demo-button
    [config]="backButton"
    (callback)="buttonClick($event)"
  ></demo-button>
</footer>
