<div class="resume-wrapper aerolighter">
  <div class="section-container left">
    <section class="profile base">
      <h1 class="name">Govind Chauhan</h1>
      <h2 class="role">Software Engineer</h2>
      <img
        src="https://images.pexels.com/photos/10432243/pexels-photo-10432243.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="profile image"
      />
    </section>
    <section class="about">
      <h3>ABOUT ME</h3>
      <p>
        <i>
          An IT Professional with 3+ years of experience in web development
          based in Mumbai.
        </i>
      </p>
    </section>
    <section class="skills">
      <h3>Skills</h3>
      <h4 class="skill" style="--level: 70%">Angular</h4>
      <h4 class="skill" style="--level: 80%">HTML5</h4>
      <h4 class="skill" style="--level: 85%">CSS3</h4>
      <h4 class="skill" style="--level: 65%">JavaScript/TypeScript</h4>
    </section>
    <section class="contacts">
      <p>gregariousgovind@gmail.com</p>
      <p>+91-7408648998</p>
    </section>
  </div>
  <div class="section-container right">
    <section class="education">
      <h3>EDUCATION</h3>
      <h4>
        <span>BACHELOR OF TECHNOLOGY</span>
        <span>2019</span>
      </h4>
      <h4>
        <span>HSC/Intermediate</span>
        <span>2015</span>
      </h4>
    </section>
    <section class="languages">
      <h3>LANGUAGES</h3>
      <p></p>
    </section>
    <section class="experience">
      <h3>EXPERIENCE</h3>
      <h4>
        <span>BACHELOR OF TECHNOLOGY</span>
        <span>2019</span>
      </h4>
      <h4>
        <span>HSC/Intermediate</span>
        <span>2015</span>
      </h4>
    </section>
    <section class="education">
      <h3>LANGUAGES</h3>
      <p></p>
    </section>
  </div>
</div>
