<div class="panel">
  <h2>Angular Components</h2>
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-user"></i>
        User Component
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-calendar"></i>
        Calendar Component
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-chart-bar"></i>
        Chart Component
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-envelope"></i>
        Email Component
      </a>
    </li>
  </ul>
</div>
